*{
  margin: 0;
  padding: 0;
  }

header{
  width: 100%;
  background: #ce7d0b;
  }
  header nav {
  display: flex;
  max-width: 1920px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid .1875rem orange;
  }
  header nav p{
    padding-left: 1rem;
  }
  header nav ul{
  display: flex;
  list-style: none;
  }
  header nav a{
  color: #FFFFFF;
  padding: 1rem;
  display: block;
  text-decoration: none;
  }
  header nav ul li:hover{
  text-decoration: underline;
  color: aliceblue;
  }
main h1{
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.contactH1{
  padding-top: 117px;
  text-align: center;
}

.contact {
  text-align: justify;
    padding-bottom: 30px;
    padding-top: 50px;

}

.contact2{
  text-align: justify;
  padding-bottom: 50px;
}
  
.cardf {
  margin: auto;
  width: 350px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
  overflow: hidden;
}

.card-header {
  background-color: #ce7d0b;
  padding: 16px;
  text-align: center;
}

.card-header .text-header {
  margin: 0;
  font-size: 18px;
  color: rgb(255, 255, 255);
}

.card-body {
  padding: 16px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #ce7d0b;
  font-weight: bold;
  margin-bottom: 1px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
  width: 90%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  padding: 12px 24px;
  margin-left: 13px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer
}

.btn:hover {
  background-color: #f88740;
  color: #333;
}
.cardf h1{
  color: #FCFCFC;
  font-family: sans-serif;
  text-transform: uppercase;
}

main .container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-top: solid 3px #cf7c07;
    border-left: solid 3px #c6850b;
}

main .card{
    padding: 1.5rem;
    border-right: solid 3px #c6850b;
    border-bottom: solid 3px #c6850b;
}

main .card img{
    margin: 2rem 0;
    width: 100%;
    height: 200px;
    object-fit: contain;
    transition: 0.15;
}

.card p.info{
    width: fit-content;
    color: rgb(255, 255, 255);
    background: rgb(204, 12, 57);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.card p.product{
    font-size: 1.1rem;
}

footer{
  border-top: solid 3px orange;
    margin-top: 4rem;
    color: white;
    background-color: #ce7d0b;
    padding-top: 1.5rem;
    text-align: center;
    font-size: 1rem;
}
#barname{
  border-top: solid 3px orange;
  border-bottom: solid 3px orange;
}
.buttonCookie {
  padding-top: 1.5rem;
}
button {
    margin: auto;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    width: 150px;
    height: 24px;
    background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
    border-radius: 30px;
    border: 1px solid #b95000;
    transition: all 0.2s ease;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #606060;
    text-shadow: 0 1px #fff;
  }
  
  button:hover {
    box-shadow: 0 4px 3px 1px #dd9c04, 0 6px 8px #db6301, 0 -4px 4px #e19b03, 0 -6px 4px #dc9700, inset 0 0 3px 3px #dc8100;
  }
  
  button:active {
    box-shadow: 0 4px 3px 1px #e49706, 0 6px 8px #b68003, 0 -4px 4px #e4b304, 0 -6px 4px #f49d06, inset 0 0 5px 3px #c07300, inset 0 0 30px #a86d00;
  }
  
  button:focus {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
  }